@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/ThemeDevBadge.css);
@import url(https://dirid.am/yahoocord/spritesheets.css);
@import url(https://dirid.am/yahoocord/people.css);
@import url(https://dirid.am/yahoocord/nature.css);
@import url(https://dirid.am/yahoocord/food.css);
@import url(https://dirid.am/yahoocord/activity.css);
@import url(https://dirid.am/yahoocord/travel.css);
@import url(https://dirid.am/yahoocord/objects.css);
@import url(https://dirid.am/yahoocord/symbols.css);
@import url(https://dirid.am/yahoocord/flags.css);
@namespace xlink 'http://www.w3.org/1999/xlink';
.sprite__04eed {
	-webkit-mask: none !important;
	background-color: transparent !important;
	background-position: var(--custom-emoji-sprite-bg-position) !important;
	background-size: var(--custom-emoji-sprite-bg-size) !important;
}
.spriteGreyscale__04eed {
	filter: grayscale(1) !important;
}